C:/Users/olasunkanmi/Desktop/my_task/data_and_data_analysis filter=lfs diff=lfs merge=lfs -text
data_and_data_analysis/wk_6/workspace/sales_data.xls filter=lfs diff=lfs merge=lfs -text

*.ipynb	diff=jupyternotebook

*.ipynb	merge=jupyternotebook
